* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    background: rgb(127, 19, 139);
    align-items: center;
    justify-content: center;
}
.wrapper {
    position: relative;
    background: #fff;
    padding: 34px;
    max-width: 430px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.wrapper form .input-box {
    margin: 18px 0;
    height: 52px;
}

form .input-box input {
    outline: none;
    padding: 0 15px;
    color: #333;
    font-size: 17px;
    font-weight: 400;
    border: 1.5px, solid #c7bebe;
    height: 100%;
    width: 100%;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

form .policy {
    display: flex;
    align-items: center;
}

form h3 {
    font-size: 14px;
    font-weight: 500;
    color: #707070;
    margin-left: 10px;
}
